extends layout/index.pug

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote  cillum amet Lorem anim minim Lorem aliquip fugiat adipisicing. Adipisicing commodo est tempor sint voluptate est dolore id voluptate laborum. Do culpa eu nulla quis. Esse reprehenderit aliquip sint non exercitation sunt fugiat officia cupidatat. Ad dolore sint sit excepteur id ex officia ullamco tempor reprehenderit dolore tempor. Ullamco nulla pariatur aliquip laboris magna ullamco. Incididunt nisi pariatur irure exercitation consequat enim ex elit culpa sunt minim voluptate commodo.
                p  tempor laborum duis sit et. Do deserunt est dolor anim aliquip exercitation sint adipisicing voluptate do irure minim. Duis amet pariatur occaecat non eu magna ipsum officia commodo cillum nostrud. Consequat cupidatat qui ullamco minim nostrud id cupidatat exercitation ad mollit ex duis nulla Lorem. Non ullamco eiusmod sit id nulla. Sit laboris fugiat minim non.
                p ex ut laboris anim minim sint. Ullamco dolor minim nisi culpa voluptate do labore non magna deserunt ullamco eu. Elit est deserunt ipsum ipsum fugiat. Nisi occaecat aliquip id aute ipsum id occaecat. Ad consectetur voluptate commodo aliquip dolore cillum ad consectetur cupidatat deserunt deserunt ea. In adipisicing nostrud proident deserunt commodo magna reprehenderit enim non dolore. Sit eiusmod nostrud proident adipisicing eu.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4.d-flex.flex-column 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nesciunt tempora repellat quod incidunt omnis dolores assumenda, ratione illum? Incidunt modi architecto similique officia esse quae ullam voluptate nostrum temporibus?
                .col-md-4.d-flex.flex-column 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nesciunt tempora repellat quod incidunt omnis dolores assumenda, ratione illum? Incidunt modi architecto similique officia esse quae ullam voluptate nostrum temporibus?
                .col-md-4.d-flex.flex-column 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nesciunt tempora repellat quod incidunt omnis dolores assumenda, ratione illum? Incidunt modi architecto similique officia esse quae ullam voluptate nostrum temporibus?
        