*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 10rem;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html {
  box-sizing: inherit;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.header {
  display: flex;
}

.nav {
  background-color: #272d2de9;
  height: calc(100vh + 550px);
  display: flex;
  flex-direction: column;
  transition: margin-left 1s ease-in-out;
}

.agencia {
  font-size: 2rem;
  padding: 0 2rem 0.5rem;
  color: white;
  border-bottom: 1px solid #272d2d;
}

.contenedor {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.btn {
  border: none;
  background-color: unset;
  color: white;
  padding: 0 1rem;
}

.btn:hover {
  background-color: #272d2d;
  color: white;
}
.principal {
  display: flex;
  flex-direction: column;
}

.principal__header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0 1rem 2rem;
}

.principal__header p {
  margin: 0;
  padding: 0;
}

.showcontenedor {
  background-color: unset;
  padding: 0;
  margin: 0;
  border: none;
}
.showcontenedor svg {
  width: 1.5rem;
  height: 1.5rem;
}

.principal__container {
  padding: 0 2rem;
  background-color: #ededed;
  width: 85vw;
  height: calc(100vh + 490px);
}

.cabeza {
  margin: 1rem 0 0;
  font-size: 1.5rem;
}

.btnregistro,
.btnactualizar {
  margin: 1rem 0 0;
  border-radius: 0.2rem;
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.table {
  margin-top: 2rem;
}

.efectoSlide {
  margin-left: -20rem;
}

.acciones {
  display: flex;
}

.acciones button {
  background-color: unset;
  border: none;
}

.acciones button:hover {
  background-color: #272d2de9;
}

/*====================================================
formulario
======================================================*/

.contenedorform {
  width: 90%;
  margin: 2rem auto;
}

.contenedorform h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-datas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contenedorform button {
  align-self: center;
  background-color: cornflowerblue;
  padding: 0.5rem 1rem;
}

.textArea {
  display: flex;
  flex-direction: column;
}

.textArea textarea {
  resize: none;
  overflow-y: scroll;
}

.contenedorEditar {
  width: 50%;
  margin: 0 auto;
}
