doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="nodejs, expressjs, gerson aguedo yanac")
        meta(name="description", content="new app with expressjs")
        meta(name="author", content="Gerson Aguedo Yanac | Goraycode")
        title #{nombrePagina} | #{pagina}
        link(rel="shortcut icon", href="/img/logo.svg", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&display=swap' rel='stylesheet')
    body(class= clase) 
        include header 
        block slider 
        block contenido
        include footer 
